.*
.libs/
Makefile
*.la
*.lo

config.h
stamp-h?
libtool
config.status

!.gitignore

/libevent-2.1.12/evconfig-private.h
/libevent-2.1.12/include/event2/event-config.h
/libevent-2.1.12/sample/dns-example
/libevent-2.1.12/sample/event-read-fifo
/libevent-2.1.12/sample/hello-world
/libevent-2.1.12/sample/http-connect
/libevent-2.1.12/sample/http-server
/libevent-2.1.12/sample/https-client
/libevent-2.1.12/sample/le-proxy
/libevent-2.1.12/sample/signal-test
/libevent-2.1.12/sample/time-test
/libevent-2.1.12/test/bench
/libevent-2.1.12/test/bench_cascade
/libevent-2.1.12/test/bench_http
/libevent-2.1.12/test/bench_httpclient
/libevent-2.1.12/test/regress
/libevent-2.1.12/test/rpcgen-attempted
/libevent-2.1.12/test/test-changelist
/libevent-2.1.12/test/test-closed
/libevent-2.1.12/test/test-dumpevents
/libevent-2.1.12/test/test-eof
/libevent-2.1.12/test/test-fdleak
/libevent-2.1.12/test/test-init
/libevent-2.1.12/test/test-ratelim
/libevent-2.1.12/test/test-time
/libevent-2.1.12/test/test-weof

/yaml-0.2.5/tests/example-deconstructor
/yaml-0.2.5/tests/example-deconstructor-alt
/yaml-0.2.5/tests/example-reformatter
/yaml-0.2.5/tests/example-reformatter-alt
/yaml-0.2.5/tests/run-dumper
/yaml-0.2.5/tests/run-emitter
/yaml-0.2.5/tests/run-emitter-test-suite
/yaml-0.2.5/tests/run-loader
/yaml-0.2.5/tests/run-parser
/yaml-0.2.5/tests/run-parser-test-suite
/yaml-0.2.5/tests/run-scanner
/yaml-0.2.5/yaml-0.1.pc

/xerces-c-3.2.3/doc/Doxyfile
/xerces-c-3.2.3/doc/style/dtd/entities.ent
/xerces-c-3.2.3/scripts/run-test
/xerces-c-3.2.3/src/xercesc/util/XercesVersion.hpp
/xerces-c-3.2.3/src/xercesc/util/Xerces_autoconf_config.hpp
/xerces-c-3.2.3/xerces-c.pc

